---
// src/components/PostCard.astro
const { post } = Astro.props;
---
<article class="post-card">
  <div class="card-inner">
    <h3 class="post-title"><a href={`/posts/${post.slug}`}>{post.title}</a></h3>
    <p class="post-date">{new Date(post.date).toLocaleDateString()}</p>
    <p class="post-excerpt">{post.excerpt}</p>
    <a class="read-more" href={`/posts/${post.slug}`}>READ MORE</a>
  </div>
</article>
