---
// src/components/Header.astro
---
<header class="site-header">
  <div class="brand">BLOG</div>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
